
:root{
    --azul: #2A7AE4;
    --preto: #464646;
    --background: #E5E5E5;
    --background-Azul: #EAF2FD;
    --raleway: "Raleway", sans-serif;
}

body{
    background-color: var(--background);
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}