.contato{
    background-color: var(--background-Azul);
}

.form__titulo{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}

.formulario{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formulario__legenda{
    align-self: flex-start;
    background-color: #FFFFFF;
    color: #A2A2A2;
    font-size: 0.75rem 0.75rem 0 0.75rem;
    margin: 0 auto;
    padding: 0.75rem;
    width: 100%;
}

.formulario__input{
    border: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    height: 31px;
    margin: 0 auto 1rem;
    padding: 0.75rem;
    width: 100%;
}

::placeholder {
    color: #A2A2A2;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 0.875rem;
  }

.formulario__textarea{
    border: none;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    height: 81px;
    margin: 0 auto 0.5rem;
    width: 100%;
}

.formulario__button{
    background-color: var(--azul);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    height: 40px;
    margin: 0 auto 1rem;
    padding: 0.5rem;
    text-align: center;
    width: 150px;
}

@media screen and (max-width: 425px) {
    .form__titulo{
        font-size: 1.375rem;
    }

    .formulario__legenda{
        max-width: 450px;
        width: 100%;
    }

    .formulario__input{
        max-width: 450px;
        width: 100%;
    }

    .formulario__textarea{
        max-width: 450px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .contato{
        width: 60%;
    }

    .formulario{
        align-items: flex-start;
    }

}

@media screen and (min-width: 1024px) {

    .formulario__legenda{
        max-width: 450px;
    }

    .formulario__input{
        max-width: 450px;
    }

    .formulario__textarea{
        max-width: 450px;
    }
}