.destaques{
    align-items: flex-end;
    background: url("../images/cogumelo-destaque.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    padding-top: 5rem;
    width: 100%;
}

.destaque{
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-bottom: 1rem;
    width: 100%;
}

.destaque__titulo{
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    width: 100%;
}

.destaque__frase{
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    width: 100%;
}

.destaque__btn{
    width: 33%;
}