.destaques{
    align-items: flex-end;
    background: url("../images/cogumelo-destaque.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    padding-top: 5rem;
    width: 100%;
}

.destaque{
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-bottom: 1rem;
    width: 100%;
}

.destaque__titulo{
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    width: 100%;
}

.destaque__frase{
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    width: 100%;
}

.destaque__btn{
    height: 40px;
    width: 120px;
}

@media screen and (min-width: 768px){
    .destaque__titulo{
        font-size: 3.25rem;
        font-weight: 700;
        margin-top: 6rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .destaque__frase{
        font-size: 1.375rem;
        font-weight: 700;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .destaque__btn{
        margin-bottom: 2rem;
        width: 120px;
    }
    
}
