.header{
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 4.5rem;
    justify-content: space-between;
    width: 100%;
}

.header__btn{
    border: 1px solid var(--azul);
    color: var(--azul);
    font-family: var(--raleway);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.75rem 1rem 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
}

.header__barraPesquisa{
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: space-between;
    padding: 12px 16px;
    width: 272px;
}

.header__barraPesquisa__inputSearch{
    background-color: #F5F5F5;
    border: none;
    text-align: start;
    width: 90%;
}

.header__barraPesquisa__img{
    display: inline-block; 
    vertical-align: middle;
}

.header__search{
    background-image: url("../images/icone-lupa.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width: 425px){
    .header__logo{
        height: 1.75rem;
        width: 28vw;
    }
    
    .header__search{
        display: block;
    }

    .header__barraPesquisa{
        display: none;
    }

    .header__btn{
        width: 150px;
    }
}

@media screen and (min-width: 768px){
    .header__search{
        display: none;
    }

    .header__barraPesquisa{
        display: flex;
    }

    .header__logo{
        height: 28px;
        width: 100px;
    }

    .header__btn{
        width: 166px;
    }
}

@media screen and (min-width: 1024px){
    .header{
        padding: 1.5rem 6.5rem;
    }
    
    .header__logo{
        height: 50px;
        width: 176px;
    }

    .header__barraPesquisa{
        height: 50px;
        width: 25rem;
    }

    .header__btn{
        width: 166px;
    }
}