.mapa{
    background-color: var(--background-Azul);
}

.mapa__nav{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.mapa__logo{
    height: 50px;
    margin-bottom: 1.5rem;
    width: 176px;
}

.mapa__link{
    color: var(--preto);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .info{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-items: center;
    }
    
    .mapa{
        width: 40%;
        height: 360px;
    }

    .mapa__nav{
        align-items: flex-start;
        text-align: start;
    } 
}
